{#
---
name: aos-version-example
summary: Example of gating configuration on aos_version to disable ARP suppression
config_style: junos
section: top_level_hierarchical
roles: [all]
category: misc
status: example
requires:
  vars: [aos_version, vlan]
---
-#}
{% if aos_version == "4.2.1" %}
routing-instances {
    evpn-1 {
        vlans {
{% for vlan_data in vlan.values() %}
{% if vlan_data['impl_type'] == 'vxlan' %}
            vn{{ vlan_data['id'] }} {
                no-arp-suppression;
            }
{% endif %}
{% endfor %}
        }
    }
}
{% endif %}
