{#
---
name: cut-right-spines
summary: Disable uplinks toward right-side spines via an apply-group
config_style: junos
section: top_level_hierarchical
roles: [leaf]
category: misc
status: active
requires:
  vars: [interface]
  tags: [right-spine]
---
Tag spines with 'left-spine' or 'right-spine'.

Assign this configlet to left side leaf.
-#}
{% set RIGHT_SPINE_TAG = 'right-spine' %}
{# assign this configlet to left side leaf #}
groups cut-right-spine {
    interfaces {
{% for _, intf_data in interface.items() %}
{% if RIGHT_SPINE_TAG in intf_data.tags  %}
        {{ intf_data.intfName }} disable;
{% endif %}
{% endfor %}
    }
}
set apply-groups cut-right-spine;
