{#
---
name: mgmt-leak-incomplete
summary: Leak routes between the infrastructure VRF and the management routing instance
config_style: junos
section: top_level_hierarchical
roles: [all]
category: misc
status: incomplete
---
Incomplete work in progress: import policy and rib-group leaking between the
corp_trust routing instance and mgmt_junos.inet.0.

INCOMPLETE - does not render. Known defect, to be fixed later:
  - the policy-statement name is written as a variable reference to
    INFR-2-MGMT-LEAKING, which is undefined and is not even a valid Jinja
    expression (the hyphens parse as subtraction). The intended value is
    almost certainly the INFRA_2_MGMT_POLICY variable set above, which is
    currently unused.
-#}


{% set INFRA_VRF = 'corp_trust' %}
{% set MGMT_SUBNET = '10.85.192.0/26' %}
{% set INFRA_2_MGMT_POLICY = 'INFR-2-MGMT-LEAKING' %}


policy-options {
    prefix-list INFRA-PREFIX {
        10.0.0.40/32;
        10.0.3.14/32;
    }
    prefix-list MGMT-PREFIX {
        10.85.192.0/26;
        10.85.192.16/32;
    }
    policy-statement {{ INFR-2-MGMT-LEAKING }} {
        term INFRA-PREFIX {
            from {
                prefix-list INFRA-PREFIX;
            }
            then accept;
        }
        term else {
            then reject;
        }
    }

}
routing-instances {
    {{ INFRA_VRF }} {
        routing-options {
            interface-routes {
                rib-group inet INFRA-2-MGMT;
            }
            interface-routes {
                rib-group inet INFRA-2-MGMT;
            }
            static {
                rib-group INFRA-2-MGMT;
                route 10.0.3.14/32 next-hop 10.133.32.1;
                route 10.85.192.16/32 next-table mgmt_junos.inet.0;
                route {{ MGMT_SUBNET }} next-table mgmt_junos.inet.0;
            }
        }
    }
}
routing-options {
    rib-groups {
        INFRA-2-MGMT {
            import-rib [ {{ INFRA_VRF }}.inet.0 mgmt_junos.inet.0 ];
            import-policy {{ INFR-2-MGMT-LEAKING }};
        }
    }
}

