{#
Remove RSTP of the target interfaces under the [edit protocols rstp] hierarchy.

To remove RSTP, attach the tag NO_RSTP_TAG to the target interfaces, links, or generic systems. New versions inherit gs tags, but old versions did not.

2026-04-23 implement namespace
#}
{% set NO_RSTP_TAG = "no-rstp" %}
{% set ns = namespace(intfs=[]) %}
{% for intf in interface.values()|selectattr('tags') %}{# begin tagged interfaces #}
{% if NO_RSTP_TAG in intf.tags %}{% set ns.intfs = ns.intfs + [intf.part_of or intf.intfName] %}{% endif %}
{% endfor %}{# end tagged interfaces #}
{% for intf_name in ns.intfs | unique %}{# finally render the configuration #}
delete protocols rstp interface {{ intf_name }}
{% endfor %}