{#
---
name: ospf-tags
summary: Tag based OSPF for routing zones and IRB interfaces
config_style: junos
section: top_level_set_delete
roles: [leaf]
category: misc
status: active
requires:
  vars: [system_tags, security_zones, vxlan, vlan]
  tags: [ospf, ospf/passive, ospf-export-static, ospf-export-default]
author: kimcharli@gmail.com
updated: 2026-08-05
---
Tag based OSPF configlet.

OSPF configured when
  system_tags has 'ospf'
  vxlan.n.tags has 'ospf' (active) or 'ospf/passive'
  vlan.n has ipv4_address
  optional: rz.tags has 'ospf-export-static' or 'ospf-export-default'  ## customize in case of policies
-#}
{% set SYSTEM_OSPF_TAG = 'ospf' %}
{% set OSPF_EXPORT_STATIC_TAG = 'ospf-export-static' %}{# custom policy #}
{% set OSPF_EXPORT_DEFAULT_TAG = 'ospf-export-default' %}{# custom policy #}
{% set OSPF_ACTIVE_TAG = 'ospf' %}
{% set OSPF_PASSIVE_TAG = 'ospf/passive' %}
{% set OSPF_VXLAN_TAGS = [OSPF_ACTIVE_TAG, OSPF_PASSIVE_TAG] %}
{% set OSPF_AREA = '0.0.0.0' %}
{% set OSPF_MTU = 1500 %}
{% set OSPF_COMMUNITY = '7:30003' %}

{# 1. Scan security_zones upfront to check tag presence #}
{% set static_check = security_zones.values() | selectattr('tags', 'defined') | selectattr('tags') | selectattr('tags', 'contains', OSPF_EXPORT_STATIC_TAG) | list %}
{% set default_check = security_zones.values() | selectattr('tags', 'defined') | selectattr('tags') | selectattr('tags', 'contains', OSPF_EXPORT_DEFAULT_TAG) | list %}


{%- if SYSTEM_OSPF_TAG in system_tags %}{# SYSTEM_TAGS #}

{#- 2. Global Import Policy & Community #}
set policy-options policy-statement IMPORT-FROM-OSPF term IMPORT-FROM-OSPF from protocol ospf
set policy-options policy-statement IMPORT-FROM-OSPF term IMPORT-FROM-OSPF then community add FROM_OSPF
set policy-options policy-statement IMPORT-FROM-OSPF term IMPORT-FROM-OSPF then accept
set policy-options community FROM_OSPF members {{ OSPF_COMMUNITY }}

{# 3. Render policy-statements once at top-level if needed #}
{% if static_check %}
set policy-options policy-statement OSPF-EXPORT-STATIC term REJECT-OSPF from community FROM_OSPF
set policy-options policy-statement OSPF-EXPORT-STATIC term REJECT-OSPF then reject
set policy-options policy-statement OSPF-EXPORT-STATIC term STATIC from protocol static
set policy-options policy-statement OSPF-EXPORT-STATIC term STATIC then accept
{% endif %}

{% if default_check %}
set policy-options policy-statement OSPF-EXPORT-DEFAULT term REJECT-OSPF from community FROM_OSPF
set policy-options policy-statement OSPF-EXPORT-DEFAULT term REJECT-OSPF then reject
set policy-options policy-statement OSPF-EXPORT-DEFAULT term STATIC-DEFAULT from protocol static
set policy-options policy-statement OSPF-EXPORT-DEFAULT term STATIC-DEFAULT from route-filter 0.0.0.0/0 exact
set policy-options policy-statement OSPF-EXPORT-DEFAULT term STATIC-DEFAULT then external type 1
set policy-options policy-statement OSPF-EXPORT-DEFAULT term STATIC-DEFAULT then accept
{% endif %}

{#- 4. Iterate security_zones for routing-instance & interface config #}
{% for sz_name, sz_value in security_zones.items() %}{# RZ_LOOP #}
{% set ospf_vxlans = namespace(dict={}) %}
{% for vn in vxlan.values() %}{# VXLAN_DICT #}
{# ipv4_address on the bound_to VLAN is required, so filter here to keep loop.first meaningful #}
{% if vn.vrf_name == sz_name and vn.tags and (OSPF_ACTIVE_TAG in vn.tags or OSPF_PASSIVE_TAG in vn.tags) and vlan[vn.vlan_id | string].ipv4_address %}
{% if ospf_vxlans.dict.update({vn.vlan_id | string: vn.tags}) %}{% endif %}
{% endif %}
{% endfor %}{# VXLAN_DICT #}
{% set ospf_vxlans_dict = ospf_vxlans.dict %}
{# DEBUG: ospf_vxlans_dict #}
{% for vlan_id, vlan_tags in ospf_vxlans_dict.items() %}{# OSPF_VLANs #}
{% if loop.first %}{# SZ_FIRST #}
set routing-instances {{ sz_name }} routing-options router-id {{ sz_value['loopback_ip'] }}
set routing-instances {{ sz_name }} protocols ospf area {{ OSPF_AREA }} interface {{ sz_value['loopback_intf'] }} passive
delete routing-instances {{ sz_name }} protocols evpn ip-prefix-routes export BGP-AOS-Policy-{{ sz_name }}
set routing-instances {{ sz_name }} protocols evpn ip-prefix-routes export IMPORT-FROM-OSPF
set routing-instances {{ sz_name }} protocols evpn ip-prefix-routes export BGP-AOS-Policy-{{ sz_name }}
{% endif %}{# SZ_FIRST #}
{% if OSPF_ACTIVE_TAG in vlan_tags %}
set routing-instances {{ sz_name }} protocols ospf area {{ OSPF_AREA }} interface irb.{{ vlan_id }} mtu {{ OSPF_MTU }}
{% else %}
set routing-instances {{ sz_name }} protocols ospf area {{ OSPF_AREA }} interface irb.{{ vlan_id }} passive
{% endif %}
{% endfor %}{# OSPF_VLANS #}
{% endfor %}{# RZ_LOOP #}
{% endif %}{# SYSTEM_TAGS #}
