{# Config Style: Junos #}
{# Section: Top-Level Hierarchical #}
{% set DOMAIN_NAME = 'pslab.net' %}
{% set SYSLOG_HOST = '10.84.192.10' %}
{% set TIMEZONE = 'America/New_York' %}
{% set NTP_SERVER = '10.85.130.130' %}
{% set NAME_SERVERS = ['10.85.192.2'] %}
{% set RADIUS_SERVERS = ['10.85.192.3'] %}
{% set RADIUS_SECRET = '$9$5T/tEcleWxevDkqPn6WLx7s4' %}
system {
    login {
        user labroot {
            class super-user;
            authentication {
                encrypted-password "$6$o0oFDCXs$GVVRn8Rmt/QaDhg0KHmo3mErxBZM4g8xbxOqonmLhpiaPauY2hXbevrNpa7e2I3pKDsgYrnDjEsAC3/KOjpcV1"; ## SECRET-DATA
                ssh-ed25519 "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBtWQrJyUW+EMN3cC+9fzmWEBh4GpT5+SlenOZ3QD7ik ckim@ckim-mbp"; ## SECRET-DATA
            }
        }
{% if RADIUS_SERVERS %}
        user remote {
            class super-user;
        }
{% endif %}
        message "BEWARE OF SECURITY";
    }
    services {
        ssh {
            sftp-server;
        {# aes256-cbc is depricated #}
            ciphers [ "aes128-gcm@openssh.com" "aes256-gcm@openssh.com" aes256-ctr ];
            key-exchange [ dh-group14-sha1 ecdh-sha2-nistp256 ecdh-sha2-nistp384 ecdh-sha2-nistp521 ];
            hostkey-algorithm-list {
                ed25519;
            }            
        }
    }
    domain-search {{ DOMAIN_NAME }};    
    time-zone {{ TIMEZONE }};
    syslog {
        host {{ SYSLOG_HOST }} {
            any info;
            facility-override local7;
            routing-instance mgmt_junos;
        }
    }
{% if RADIUS_SERVERS %}
    authentication-order [ radius password ];
{% endif %}
    name-server {
        {{ NAME_SERVERS[0] }} routing-instance mgmt_junos;
    }
    ntp {
        server {{ NTP_SERVER }} routing-instance mgmt_junos;
    }
{% if RADIUS_SERVERS %}
    radius-server {
        {{ RADIUS_SERVERS[0] }} {
            routing-instance mgmt_junos;
            port 1812;
            secret "{{ RADIUS_SECRET }}"; ## SECRET-DATA
        }
    }
{% endif %}
}

